[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "*"
google-cloud-bigquery = "*"
google-cloud-pubsub = "*"
jinja2 = "*"
pip = "*"
psycopg2-binary = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-timeout = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
