CREATE
OR REPLACE TABLE `{{ dataset }}._raw_{{ table }}` AS
SELECT
    *
EXCEPT
    (row_num)
FROM
    (
        SELECT
            *,
            ROW_NUMBER() OVER (
                PARTITION BY
                    {% for key in p_key -%}
                        {{ key }}
                        {% if not loop.last -%}
                            ,
                        {%- endif %}
                    {%- endfor %}
                {% if incremental_key -%}
                ORDER BY 
                    {{ incremental_key }}
                    DESC
                {%- endif %}
            ) AS row_num
        FROM
            `{{ dataset }}._stage_{{ table }}`
    )
WHERE
    row_num = 1
