CREATE
OR REPLACE TABLE `{{ dataset }}`.`_stage_{{ table }}` AS
SELECT
    *
EXCEPT
    (row_num)
FROM
    (
        SELECT
            *,
            ROW_NUMBER() over (
                PARTITION BY {{ p_key }}

                {% if incre_key -%}
                ORDER BY
                    {{ incre_key }} DESC
                {%- endif %}
            ) AS row_num
        FROM
            `{{ dataset }}`.`_stage_{{ table }}`
    )
WHERE
    row_num = 1
